.pomodoro__stage {
  background-color: $gray-200;
  border-radius: map-get($spacers, 1);
  text-shadow: 0px 1px 1px transparentize($gray-900, 0.85);
  font-weight: 300;

  &[data-is-active="true"] {
    background-color: $gray-400;
    font-weight: 500;
  }
}

.pomodoro__step {
  background-color: $gray-200;
  width: $sm-font-size;
  height: $sm-font-size;
  border-radius: 100%;
  padding: 0;

  &[data-is-active="true"] {
    background-color: $gray-800;
  }
}

.pomodoro__timer {
  font-size: 8rem;
  line-height: 1;
  text-shadow: 0px 1px 2px transparentize($gray-900, 0.25),
    0px 3px 6px transparentize($gray-900, 0.5);
}

.pomodoro__control {
  padding: 0;
  background-color: transparent;

  svg {
    width: $h2-font-size;
    height: $h2-font-size;
    fill: $textColor;
  }
}
