.btn {
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  display: inline-block;

  svg {
    display: block;
    fill: currentColor;
    height: 1em;
    width: 1em;
  }
}

.btn-sm {
  padding: map-get($spacers, 1) map-get($spacers, 2);
  font-size: $sm-font-size;
}

.btn-md {
  padding: map-get($spacers, 2) map-get($spacers, 3);
}

.btn-lg {
  padding: map-get($spacers, 3) map-get($spacers, 4);
}
