html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font;
  font-size: $font-size-base;
  color: $textColor;
  background-color: $bodyColor;

  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: start;
}

@each $n, $size in $font-sizes {
  h#{$n},
  .h#{$n} {
    font-size: $size;
    margin: 0 0 $font-size-base / 2 0;
    font-weight: 500;
    line-height: 1.2;
  }
}
