//
//* SPACING

// Margin y padding

$properties: (
  m: margin,
  p: padding,
);

$sides: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);

@each $propertyLetter, $property in $properties {
  @each $spaceNumber, $space in $spacers {
    @each $sideLetter, $side in $sides {
      .#{$propertyLetter}#{$sideLetter}-#{$spaceNumber} {
        #{$property}-#{$side}: $space !important;
      }
    }

    .#{$propertyLetter}-#{$spaceNumber} {
      #{$property}: $space !important;
    }

    .#{$propertyLetter}x-#{$spaceNumber} {
      #{$property}-left: $space !important;
      #{$property}-right: $space !important;
    }

    .#{$propertyLetter}y-#{$spaceNumber} {
      #{$property}-top: $space !important;
      #{$property}-bottom: $space !important;
    }
  }
}

// Gap

@each $spaceNumber, $space in $spacers {
  @if ($spaceNumber != auto) {
    .g-#{$spaceNumber} {
      gap: $space;
    }
  }
}

//
//* FONT

// FONT SIZE

@each $n, $size in $font-sizes {
  h#{$n},
  .h#{$n} {
    font-size: $size;
    margin: 0 0 $font-size-base / 2 0;
    font-weight: 500;
    line-height: 1.2;
  }
}

.font-small {
  font-size: $sm-font-size;
}

// FONT WEIGHT

@for $weight from 1 to 9 {
  $fw: $weight * 100;
  .fw-#{$fw} {
    font-weight: $fw;
  }
}

//
//* TEXT ALIGN

@each $ta in left, center, right {
  .ta-#{$ta} {
    text-align: $ta;
  }
}

//
//* FLEX

.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
