//
//* SPACING

// Margin y padding

$properties: (
  m: margin,
  p: padding
);

$sides: (
  t: top,
  b: bottom,
  l: left,
  r: right
);

@each $propertyLetter, $property in $properties {
  @each $spaceNumber, $space in $spacers {
    @each $sideLetter, $side in $sides {
      .#{$propertyLetter}#{$sideLetter}-#{$spaceNumber} {
        #{$property}-#{$side}: $space; 
      }
    }

    .#{$propertyLetter}-#{$spaceNumber} {
      #{$property}: $space; 
    }

    .#{$propertyLetter}x-#{$spaceNumber} {
      #{$property}-left: $space; 
      #{$property}-right: $space; 
    }

    .#{$propertyLetter}y-#{$spaceNumber} {
      #{$property}-top: $space; 
      #{$property}-bottom: $space; 
    }
  }
}

// Gap

@each $spaceNumber, $space in $spacers {
  @if ($spaceNumber != auto) {
    .g-#{$spaceNumber} {
      gap: $space;
    }
  }
}

//
//* FONT WEIGHT

@for $weight from 1 to 9 {
  $fw: $weight * 100;
  .fw-#{$fw} {
    font-weight: $fw;
  }
}

//
//* TEXT ALIGN

@each $ta in left, center, right {
  .ta-#{$ta} {
    text-align: $ta;
  }
}
